.registro{
   display: flex;
  background-color: #0c0c0c;
  min-height: 100vh;
  color: white;
}

.Sidebar-Registro {
  width: 320px;
  background-color: #000;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoVertical {
  width: 100%;
  max-width: 300px;
  margin-bottom: 30px;
}

.section-video {
  width: 100%;
}

.video-box {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #333;
}

.video-box img { width: 100%; display: block; }