.form-footer {
  background-color: var(--card-bg);
  color: var(--text-gray);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-brand {
  font-weight: bold;
  color: var(--primary-cyan);
}

.footer-right {
  display: flex;
  gap: 1rem;
}

.logo-armoniza {
  height: 1rem;
  
}